/*=========================================
Custom styles
=========================================*/

* {
  padding: 0;
  margin: 100;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Typography*/
h1 {
  text-transform: capitalize;
  font-size: 50px; font-style: normal;
  font-variant: normal; font-weight: 700;
  line-height: 26.4px;
}

h2 {
  text-transform: uppercase;
  font-size: 22px; font-style: normal;
  font-variant: normal;
  font-weight:lighter;
  line-height: 15.4px; }



h3 {
  font-size: 17px; font-style: normal;
  font-variant: normal;
  font-weight: 40;
  line-height: 15.4px; }

h4 {
    font-size: 14px; font-style: normal;
    font-variant: normal;
    font-weight: 40;
    line-height: 15.4px; }

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  }

blockquote {
  font-size: 21px; font-style: normal;
  font-variant: normal; font-weight: 400;
  line-height: 30px;
}

pre {
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  padding: 10px;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58b56e5cd2b857960a275c83/1501247790840-J7HXFGZSRJOYFOCYNUM9/ke17ZwdGBToddI8pDm48kKnrKEvUDqdn3WgGSYnSu4EUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcUO2RFeMirnFEOjbR_dJv08WnHSonvrF9DDiE2N4izRb2SHO5XCg_uFHSQyxOAOjw/tropicaleaftrendfeatured.jpg?format=1500w");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  list-style-type: square;
}



/* Header/Blog Title */

.container {
  margin:0 auto; /* this will center the page */
  width:960px; /*  use your width here */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300; font-size: 15px;
 }


.header {
  padding: 30px;
  text-align: center;
  background: none;
  font-weight: 300; font-size: 40px;
}


.img {
  float: left;
  margin: 20px;
  border: 2px lightgray;
}



/* Style the top navigation bar */
.topnav {
  text-transform: capitalize;
  font-size: 13pt;
  overflow: hidden;
  background-color: none;
  padding: 20px;
  margin: 0px;
  border-bottom: 2px solid white;
}



/*Main Div style*/
.card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  }

.card2 {
  padding: 30px;
  margin-top: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.card3 {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.card4 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}


.pics-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/*clock*/
#clock {
  color: rgba(214, 124, 166);
  font-size: 25px;
  text-align: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/squiggle.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

/* Carousel*/
.carousel-caption{
  position:absolute;
  right:15%;
  bottom:20px;
  left:15%;
  z-index:10;
  padding-top:0px;
  padding-bottom:170px;
  color:#fff;
  text-align:top;
  font-size: 30pt;
    }

.carousel-caption1{
  text-align:top;
  position:absolute;
  right:15%;
  bottom:5px;
  left:15%;
  z-index:10;
  padding-top:px;
  padding-bottom:20px;
  color:black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 60px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 35px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: black;
}


/* Sections */
.aboutme {
  display: inline-block;
}

/*container images*/
.container-images {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
}

.container-images > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 10px;
  padding: 5px;
}

.description {
  display: none;
  position: absolute;
}

.container-images > div:hover {
  transform: scale(1.1);
}
.container-images > div:hover .description {
  display: block;
  text-align: center;
}

.container-images > div:hover img {
  opacity: 0.5;
}

.container-images > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
  color: #20263f;
}



/* A hover images for About me */
.swap-on-hover {
  position: relative;
	margin:  0 auto;
	max-width: 400px;
}

/* Select the image and make it absolute to the container */
.swap-on-hover img {
  position: absolute;
  top:0;
  left:0;
	overflow: hidden;
}

.swap-on-hover .swap-on-hover__front-image {
  z-index: 9999;
  transition: opacity .5s linear;
  cursor: pointer;
}

.swap-on-hover:hover > .swap-on-hover__front-image{
  opacity: 0;
}

.cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


/*images hobbies*/

.hobbies {
  text-size-adjust: 10px;
  display: inline-block;


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.carousel-indicators{
  position:absolute;
  right:0;
  bottom:10px;
  left:0;z-index:15;
  display:-webkit-box;
  display:-ms-flexbox;display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  padding-left:0;
  margin-right:15%;
  margin-left:15%;
  list-style:none;
}